body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  padding: 20px;
  gap: 16px;
}

.grid-container {
  flex-grow: 1;
  padding-bottom: calc(100vh - 500px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-tile {
  background-color: #2a2a2a;
  border: 1px solid #444;
  padding: 15px;
}

.project-tile img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
}

.project-tile h3 {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-tile p {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Adds space between tags */
}

.filters {
  position: sticky;
  top: 20px;
  width: 176px; /* Fixed width for filters */
  max-width: 176px;
  min-width: 176px;
  height: 100%;
  margin-right: 1rem;
}

.filters #tag-filters {
  display: flex;
  flex-direction: column;
}

.filters #tag-filters button {
  background: none;
  border: none;
  color: #f0f0f0;
  text-align: left;
  padding: 5px 0;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for truncated text */
}

.filters #tag-filters button.category-separator {
  margin-top: 10px; /* Add margin to separate categories */
}

.tags span {
  background-color: transparent;
  border: 1px solid #444;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
}

.timeline {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  padding-left: 20px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#timeline-nav a {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  margin-bottom: 5px;
}

#timeline-nav a:hover {
  /* No underline on hover */
}

#timeline-nav a.active {
  font-weight: bold;
  /* No underline when active */
}

#active-filter-container {
  margin-bottom: 10px;
  display: flex;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow if it still happens */
  text-overflow: ellipsis; /* Add ellipsis for long filter names */
  height: 22px;
}

#active-filter {
  background-color: #f0f0f0;
  color: #1a1a1a;
  padding: 2px 5px;
  flex-shrink: 1; /* Allow shrinking */
  min-width: 0; /* Allow content to shrink */
}

#clear-filter {
  background: #f0f0f0;
  color: #1a1a1a;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 2px 5px; /* Match padding of active-filter */
  flex-shrink: 0; /* Prevent shrinking */
  border-radius: 0; /* Remove border-radius */
}

.year-group {
  margin-bottom: 40px;
}

.year-group h2 {
  margin-bottom: 20px;
}

.project-icons {
  display: flex;
  gap: 8px;
}

.project-link {
  color: #f0f0f0;
  text-decoration: none;
}

.project-link:hover {
  color: #aaa;
}
